

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background-color: #f9fafc;
  position: sticky;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.header .header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}
.app-tagline{
  font-size: 1.3rem;
  white-space: nowrap;
}
.header-logo{
  width: 200px;
  height: 60px;
  object-fit: cover;
  margin-right: 1rem;
  margin-top: .5rem;
}
.header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.header-profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.avatar {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  color: white;
  object-fit: cover;
  border: 2px solid white;
  transition: transform 0.3s ease;
  display: block;
}

.avatar:hover {
  transform: scale(1.05);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: white;
  color: black;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  white-space: nowrap;
  min-width: 230px;
}

.dropdown-name {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.dropdown-email {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.75rem;
  word-break: break-word;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: red !important;
  padding: 0.5rem 1rem;
  font-size: 1rem !important;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.dropdown-item:hover {
  background-color: #dc2626;
}
