
.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}


.task-card {
  width: 100%;
  position: relative;;
  max-width: 280px;
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 8px;
  word-break: break-all;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  font-size: 0.85rem;
}

.task-card:hover {
  ;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.08);
}
.task-card.finished {
  border :2px solid #2ecc71;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.task-card h3 {
  margin: 0;
  font-size: 1rem;
}

.task-card p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
  color: #444;
}

.task-card .shared-with {
  margin-top: 0.3rem;
  font-style: italic;
  color: #666;
  font-size: 0.8rem;
}

.task-card input[type="text"],
.task-card input[type="date"],
.task-card textarea,
.task-card select {
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.5rem 0.8rem;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
  transition: border-color 0.2s ease;
}

.task-card input:focus,
.task-card textarea:focus,
.task-card select:focus {
  border-color: #4f8df5;
  outline: none;
}

.task-card textarea {
  resize: vertical;
  min-height: 60px;
}

.task-card button {
  margin-top: 0.4rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: black;
  background-color: var(--white);
  transition: background-color 0.2s ease;
}

.task-card .btn-delete {
  color: red;

}
.task-card .btn-cancel:hover {
  background-color: #95a5a6;
}




.task-card .dropdown-wrapper {
  position: relative;
  z-index: 1;
}

.dropdown-menu {
  position: absolute;
  top: 24px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  padding: 0;
  flex-direction: column;
}

.dropdown-menu button {
  background: none;
  border: none;
  text-align: left;
  font-size: 0.85rem;
  color: #333;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
